.create-book-conteiner{
    background-color: aqua;
    width: 98%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-book-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 5%;
    background-color: blue;
    color: white;
}

.select-authors{
    height: 150px;
    overflow: auto;
}
