.App{
  font-family: "JetBrains Mono",monospace;
  background-color:  #fafafa;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading{
  margin: 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  color: #007ABB;
}

@media (min-width: 513px){
  .heading{
    margin: 20px;
    font-size: 50px;
  }
}