.login-conteiner{
    background-color: #f2f2f2;
    width: 98%;
    height: 1024px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-login{
    background-image: radial-gradient(100% 100% at 100% 0,#415272  0, #007ABB 100%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20%;
    border-radius: 30px;
    height: 40%;
}

.form-login__input{
    width: 100%;
    height: 25px;
    margin: 15px;
    border-radius: 10px;
    border: none;

}

.form-login a{
    font-size: 15px;
    margin: 10px;
}

.form-login__submit{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    padding-left: 10%;
    padding-right: 10%;
    margin: 10%;
    font-size: 18px;
    background-image: radial-gradient(100% 100% at 100% 0, #007ABB 0, #415272 100%);
    color: white;
    border: 0;
    border-radius: 30px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  }
  
  .form-login__submit:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .form-login__submit:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .form-login__submit:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }

  .form-login:hover {
    cursor:pointer;
    animation: scale-down linear 0.1s forwards;
    background-image: radial-gradient(100% 100% at 100% 0, #007ABB 0, #415272 100%);
  }

  
  @keyframes scale-down {
    100% {
      transform: scaleX(0.99) scaleY(0.99);
    }
  }

  @media (min-width: 513px){
    .login-conteiner{
      background-color: #f2f2f2;
      height: 1024px;
      font-size: 35px;
  }
    .form-login{
      box-shadow: inset 0px 0px 10px 0px rgb(235, 227, 227);
      border: none;
      padding: 15%;
    }
  }