
.book-card{
  color:#B85C7D;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  margin: 10%;
  padding: 2%;
  border: solid 0.5px salmon;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba( #000000, 0.2);
}
.book-card:hover {
  cursor:pointer;
  animation: scale-down linear 0.1s forwards;
  background: #f2f2f2;
}

@keyframes scale-down {
  100% {
    transform: scaleX(0.99) scaleY(0.99);
  }
}

.book-card__button{
  display: inline-flex;
  align-items: center;
  height: 48px;
  padding-left: 15%;
  padding-right: 15%;
  margin: 2%;
  font-size: 18px;
  background-image: radial-gradient(100% 100% at 100% 0, #007ABB 0, #415272 100%);
  color: white;
  border: 0;
  border-radius: 30px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
}

.book-card__button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.book-card__button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.book-card__button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.book-card__img{
  width: 70%;
}

.book-card__title{
  color:#2F4858;
  font-size: 35px;
  margin: 1%;
  text-align: center;
  border-bottom: solid 5px #B85C7D;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 5s;
}

.book-card__delete{
  align-self: flex-end;
  color: white;
  background-color: red;
  font-size: 20px;
  border: none;
  border-radius: 50px;
}

.book-card__button__update{
  background-image: radial-gradient(100% 100% at 100% 0, #1bc3e9 0, #416672 100%);
}

@media (min-width: 513px){

  .book-card{
    height: auto;
    max-width: 250px;
    width: 24%;
    margin-top: 10%;
    margin : 2%;
    padding: 10px;
    border: solid 2px rgba(245, 245, 245, 0.508);
  }

  .book-card__title{
    margin-bottom: 10%;
  }

  .book-card__img{
    // max-height: 50%;
    // width: 60%;
    width: 100px;
    height: 100px;
  }

}
