.navbar-conteiner{
    position: sticky;
    width: 100%;
    height: 10%;
    top: 0;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-conteiner__navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar-conteiner__hamburger{
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    height: 48px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 2%;
    font-family: "JetBrains Mono",monospace;
    background-image: radial-gradient(100% 100% at 100% 0, #007ABB 0, #415272 100%);
    color: white;
    border: 0;
    border-radius: 30px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  

}

.input__submit{
    display: inline-flex;
    align-items: center;
    height: 48px;
    padding-left: 35px;
    padding-right: 35px;
    margin: 2%;
    font-size: 18px;
    font-family: "JetBrains Mono",monospace;
    background-image: radial-gradient(100% 100% at 100% 0, #007ABB 0, #415272 100%);
    color: white;
    border: 0;
    border-radius: 30px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  }
  
  .input__submit:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .input__submit:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .input__submit:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }


.navbar-conteiner__show-menu{
    display: block;
}

.navbar-conteiner__hide-menu{
    display:none;
}

.navbar-conteiner__list{
    color:white;
    list-style-type: none;
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.navbar-conteiner__list li{
    /* border-bottom: solid 1px white;
    border-left: solid 1px white; */
    /* background-color: rgb(255, 255, 255); */
    font-size: 20px;
    color: #007ABB;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px#007ABB;
    margin-top: 0px;
    margin-bottom: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    display: flex;
}

.navbar-conteriner__list-conteiner{
    position: sticky;
    top: 0;
    /* background-color: rgba(84, 86, 119, 0.53); */
    margin-top: 0px;
    
}

@media(min-width: 513px){


    .navbar-conteiner{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    .navbar-conteiner__navbar{
        width: 80%;
    }

    .navbar-conteriner__list-conteiner{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    

    .navbar-conteiner__list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        margin-bottom: 0%;
    }

    .navbar-conteiner__list li{
        display: flex;
        margin-left: 1%;
        margin-right: 1%;
        width: 18%;

    }

    .navbar-conteiner__hamburger{
        display: none;
    }
    .navbar-conteiner__hide-menu{
        display: flex;
    }

}