.books-container{
    display:flex;
    flex-direction: column;
  }

@media (min-width: 513px){

    .books-container{
        margin-top: 5%;
        margin-left: 2%;
        margin-right: 2%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
      }    
}