.input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
}

.input__box{
    width: 90%;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px#007ABB;
    margin-left: 5%;
}

.input__box:focus{
    box-shadow: 0 0 10px 1000px rgba(10, 10, 0, 0.1);
    outline: none;
}

.input__submit{
    display: inline-flex;
    align-items: center;
    height: 48px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 2%;
    font-size: 18px;
    font-family: "JetBrains Mono",monospace;
    background-image: radial-gradient(100% 100% at 100% 0, #007ABB 0, #415272 100%);
    color: white;
    border: 0;
    border-radius: 30px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  }
  
  .input__submit:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .input__submit:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .input__submit:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }

  @media(min-width: 513px){
    .input{
      position: static;
      width: 90%;
    }
    .input__box{
      margin-left: 5%;
    }
  }