.hero-image{
    height: 50%;
    border-radius: 20px;
    margin: 2%;
    margin-top: 5%;
    background-image: url("https://images.unsplash.com/photo-1568667256531-7d5ac92eaa7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&w=1000&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.hero-image__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.561);
    border-radius: 20px;
    text-align: center;
  }

  .hero-image h1{
      font-size: 50px;
  }

  .hero-image hr{
    width: 80%;
    height: 5px;
    border: none;
    margin: 25px;
    background-color: #007ABB;
    border-radius: 50px;
  }

  .hero-image__button{
    display: inline-flex;
    align-items: center;
    height: 48px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 5%;
    font-size: 18px;
    font-family: "JetBrains Mono",monospace;
    background-image: radial-gradient(100% 100% at 100% 0, #007ABB 0, #415272 100%);
    color: white;
    border: 0;
    border-radius: 15px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  }
  
  .hero-image__button:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .hero-image__button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .hero-image__button:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }

  .hero-image__text p{
      margin: 5%;
  }

  .book-card__description{
    text-align: center;
    padding: 1%;
  }
  
 .hero-image__button a{
    text-decoration: none;
    color: white;
  }

  @media (min-width: 513px){
      .hero-image{
          height: 50%;
          width: 90%;
          margin-left: 2%;
          margin-right: 2%;
      }

      .hero-image__text p{
          margin-bottom: 1%;
          margin-left: 15%;
          margin-right: 15%;
      }
      
      .hero-image__text h2{
          margin: 3%;
      }

  }
